<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Suo</title>
  <link rel="stylesheet" href="<?php echo $this->baseUrl('/style/suo_commission.css')?>" type="text/css" />
</head>
<body style="font-family: Arial;">
<div id="view">
<div align="center"><p style="font-size: 300%;">Система "Ласточка"</p></div>
<?php echo $this->layout()->content?>
</div>
</body>
</html>