<form action="<?php echo $this->baseUrl('operator/call')?>" method="get">
    <div>&nbsp;</div>
    <button type="submit" name="call" value="call" class="mainbutton" id="focusFirst">Вызвать</button>
</form>
