<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>«Ласточка» - система управления очередью</title>
  <link rel="stylesheet" href="/suo/style/operator.css" type="text/css" />
  <?php echo $this->dojo();?>
  <script src="/suo/js/suo/operator.js" type="text/javascript"></script>
</head>
<body class="tundra">
<div class="all">
  <div class="content">
    <div>Клиентов в очереди: <div id="ticket_count"><?php echo $this->ticket_count?></div>.
    </div>
        <?php if (0 == $this->ticket_count):?>
            <div id="wait_client_status">Ждём клиентов.</div>
        <?php else :?>
            <?php echo $this->layout()->content?>
        <?php endif?>
    <fieldset>
      <legend class="by_client">
        <a id="toogleChecks" class="by_client" href="" onclick="hideByClientForm(); return false;">[-]</a>
        Клиенты:
      </legend>
      <div id="divChecks" style="display: block;">
        <form action="/suo/operator/call" method="get" id="formChecks">
<?php foreach ($this->tickets as $ticket) :?>
          <button type="submit" class="ticketbutton" name="ticket" value="<?php echo $ticket['id'] . '-' . $ticket['code']?>">
             <?php echo $ticket['code']?>
          </button>
<?php endforeach?>
          <input type="hidden" name="current" value="<?php echo $this->current_ticket_id?>" />
        </form>
      </div>
    </fieldset>
    <?php if ($this->max_today_records > 0):?>
      <div style="margin-top: 2em;">
          Максимум заявок на сегодня:
          <input type="text" name="max_today_records" id="max_today_records" value="<?php echo $this->max_today_records?>"
                 style="width: 4em; text-align: center;" />
          <button type="button" onClick="onClickBtnSetMaxTodayRecords();">Установить</button>
      </div>
    <?php endif?>
  </div>
  <div class="footer">
    <div>
      <p><input type="checkbox" value="1" id="todaystop" /> Завершить приём на сегодня</p>
      <br />
      <button class="closebutton" id="closebutton" onclick="closeWindow(); return false;">Закрыть</button>
    </div>
  </div>
</div>
</body>
</html>