<div>Выберите необходимый режим</div>
<?php
$list = array('operator' => 'Список операторов', 'ticket' => 'Список заявок', 'atm' => 'Список терминалов', 'panel' => 'Список табло',
    'room' => 'Список кабинетов', 'queue' => 'Список очередей', 'action' => 'Список действий', 'role' => 'Список ролей',
    'check' => 'Список талонов', 'ticketkit' => 'Список комплектов заявок', 'status' => 'Список статусов', 'client' => 'Список клиентов',
    'workday' => 'Список дней', );
foreach ($list as $href => $caption):?>
<div><a href="<?php echo $this->baseUrl('admin/' . $href . '/list')?>"><?php echo $caption?></a></div>
<?php endforeach?>
