@CHARSET "UTF-8";

* {
 margin:0;
 padding:0;
 cursor:none;
}

html, body {
 font-size:20px;
 font-family: Verdana,sans-serif;
 text-align:center;
 overflow:hidden;
}

table {
 width:100%;
 border-spacing:0 1em; /* второе число - вертикальное расстояние между кнопками */
}

button {
 height:11em; /* высота кнопки */
 width:45em;  /* ширина кнопки */
 background: -moz-linear-gradient(top,  #ffd2c0,  #fd773e); /* градиент */
 border:0 solid;
 -moz-border-radius: 2em; /* кривизна углов */
}

button.nocheck {
 font-size:1em;
 height:2em; /* высота кнопки */
 width:7em;  /* ширина кнопки */
 background: -moz-linear-gradient(top,  #ffd2c0,  #fd773e); /* градиент */
 border:0 solid;
 -moz-border-radius: 0.5em; /* кривизна углов */
}

button.daycancel {
    width:21em;  /* ширина кнопки */
}

button.day {
    width:11em;  /* ширина кнопки */
}

div.day_date {
  font-size:2em; /* размер шрифта надписей */
}

div.day_name {
  font-size:2em; /* размер шрифта надписей */
  font-weight: bold;
}

div.day_clients {
  font-size:1.5em; /* размер шрифта надписей */
}

div.room_number, div.room_caption {
 font-size:4em; /* размер шрифта надписей */
}

div.room_number_small, div.room_caption_small {
 font-size:3em; /* размер шрифта надписей */
}

div.room_max_today_records {
 font-size:2.5em; /* размер шрифта надписей */
}

div.no_room {
 margin-top:5em;
 font-size:4em; /* размер шрифта надписей */
}


@media screen {
 .onprint {
  display:none;
 }
}

@media print {
 .onscreen {
  display:none;
 }
 html, body {
  font-size:20px;
 }
 #check_number {
  font-size:3em;
 }
}