@CHARSET "UTF-8";

* {
 margin:0;
 padding:0;
 cursor:none;
}

html, body {
 font-size:20px;
 font-family: Times,Verdana,sans-serif;
 text-align:center;
 overflow:hidden;
}

table {
 width:100%;
 border-spacing:0 1em; /* второе число - вертикальное расстояние между кнопками */
}

button {
 height:11em; /* высота кнопки */
 width:43em;  /* ширина кнопки */
 background: -moz-linear-gradient(top,  #ffd2c0,  #fd773e); /* градиент */
 border:0 solid;
 -moz-border-radius: 2em; /* кривизна углов */
}

div.room_number, div.room_caption {
 font-size:4em; /* размер шрифта надписей */
}

div.no_room {
 margin-top:5em;
 font-size:4em; /* размер шрифта надписей */
}


@media screen {
 .onprint {
  display:none;
 }
}

@media print {
 .onscreen {
  display:none;
 }
 html, body {
  font-size:25px;
 }
 #check_number {
  font-size:3em;
 }
}