@CHARSET "UTF-8";

* {
 margin:0;
 padding:0;
}

html,body {
 font-size:20px;
 font-family: Verdana,sans-serif;
}

a.period {
    text-decoration: none;
    border-bottom: 1px dashed #000080;
}

.active {
    background: yellow;
}

.red {
    color: red;
}

.redcheck {
}