@CHARSET "UTF-8";
* {
 margin:0;
 padding:0;
 cursor:none;
}

html, body, table.panel_status {
 width:1920px;
 height:100%;
}

body {
 font-size: 70px;
 font-family: arial/*Times,Verdana,sans-serif*/;
 background-color:#0f5f5f/*F8F8F8*/;
 color:/*black*/white;
}

table.size3 {
 font-size: 70px;
}

table.size4 {
 font-size:65px;
}

table.size5 {
 font-size:60px;
}

table.size6 {
 font-size:55px;
}

table.size7 {
 font-size:50px;
}

table {
 width:100%;
 text-align:center;
 border-collapse:collapse;
 border-color: black;
}

.panel_status {
  margin:0 auto;
}

tr.room {
border-bottom:1px solid black;
}

th {
 font-size:1em;
 font-weight:normal;
 border-bottom:2px solid black;
 border-left:2px solid black;
 border-right:2px solid black;
}

td {
 height:3em;
}

table.size3  td {
 height:3em;
}

table.size7  td {
 height:2.5em;
}

.operator {
 font-size:0.5em;
}

.wait {
  font-size:0.7em;
  text-decoration:blink;
}

.current_client {
  width:25%;
  font-size:0.9em;
  padding-right:1em;
}

th.current_client {
  padding-right:0;
}

.wait_client {
  font-size:2em;
}

th.room_num_description {
  width:2em;
  border-left:0px;
}

th.queue {
border-right:0px;
}

td.queue {
  width:40%;
}