@CHARSET "UTF-8";

* {
 margin:0;
 padding:0;
}

html, body {
 height:100%;
}

body {
 font-size: 18px;
 font-family: Verdana,sans-serif;
 background-color: #f5f5f5;
}

div, table {
 margin: 0 auto 1em;
}

#view {
 width: 70em;
 text-align:center;
 background-color: #fff;
 min-height:40em;
 height:100%;
}

table {
  border:1px;
  bordercolor:#000;
  border-style:solid;
  border-collapse:collapse;
  width:95%;
}

th, td {
  padding:1px 3px;
}

th {
  font-size:0.7em;
}

form {
  margin:0 auto;
  text-align:center;
  width:12em;
}

input {
  width: 7em;
  font-size:1.2em;
}

input {
  font-size:1em;
}

a, a:hover, a:visited {
  text-decoration:underline;
  color:#00f;
  margin-left:1em;
}

.fleft {
  float:left;
}

.clear {
  clear:both;
}

fieldset {
  width:20em;
  /*float:left;*/
  margin-top:1em;
  padding:0.5em;
}

.current {
  background-color:yellow;
}