@CHARSET "UTF-8";

* {
 margin:0;
 padding:0;
}

html,body {
 font-size:20px;
 font-family: Arial,Verdana,sans-serif;
 text-align: center;
 background-color: gainsboro;
 height: 100%;
}

div, dt, dd, form {
    margin-bottom: 0.5em;
}

.all {
    min-height: 100%;
    margin:0 auto;
    width: 15em;
}

.content {
    padding-bottom: 3em;
}

.footer {
    width: 100%;
    height: 4em;
    position: absolute;
    bottom: 0em;
    left: 0;
}

h1 {
 font-size: 1.5em;
}

.pincode {
    font-size: 1.3em;
    text-align: center;
}

#submit-label {
    display: none;
}

/*кнопки*/
.mainbutton {
    font-size: 1.5em;
    height: 2em;
    width: 8em;
}

.secondbutton {
    font-size: 1em;
    width: 12em;
}

.closebutton {
    font-size: 1em;
    width: 8em;
}

.ticketbutton {
    width: 3em;
}

/*количество клиентов*/
div#ticket_count {
    display:inline;
}

/*список клиентов*/
legend.by_client {
    margin-left: 0.5em;
}

a.by_client {
    text-decoration: none;
}

/* перенаправление */
legend.redirect {
    margin-left: 0.5em;
}

a.redirect {
    text-decoration: none;
}