<?php
$rooms = $this->rooms;
$count = count($rooms);
if ($count == 0) :?>
<div class="no_room">Терминал не зарегестрирован или <br />кабинеты не заданы</div>
<?php else : // выводим форму с кнопками?>
<form action="/suo/atm" method="get">
<input type="hidden" name="page" id="page" value="<?php echo $this->page?>" />
<table>
<?php if ($count <= 5) : // выводим в один столбец?>
<?php foreach ($rooms as $room) :?>
  <tr>
    <td>
        <?php echo $this->partial('_partial/roombutton.phtml', array('room' => $room, ))?>
    </td>
  </tr>
<?php endforeach?>
<?php else : // выводим в 2 столбца?>
<?php
$odd = true; // последнюю кнопку ставим посередине, если количество кнопок нечетное
if ($count % 2 == 0) {
    $odd = false;
}
$i = 0;
foreach ($rooms as $room) :?>
    <?php if ($i % 2 == 0):?>
  <tr>
    <?php endif?>
    <td<?php if ($odd && $i == ($count - 1)) echo ' colspan="2"'?>>
      <?php echo $this->partial('_partial/roombutton.phtml', array('room' => $room, ))?>
    </td>
    <?php if ($i % 2 != 0):?>
  </tr>
    <?php endif?>
<?php ++$i;
endforeach?>
<?php endif?>
</table>
</form>
<?php endif?>