<div style="padding: 40px;">
    <h1>Пожалуйста,</h1>
    <h1>возьмите талон</h1>
    <br>
<!--
    <h2 id="doubleprint" style="display: none;">Повторная печать талона <span 
id="doubleprintcount">1</span></h2>
    <br>
    <div style="float: right;">
        Если талон не напечатался, нажмите кнопку
        <button class="nocheck" onclick="showNoCheck(); return false;">нет талона</button>
    </div>
-->
</div>
