<div style="padding: 50px;">
    <h1>Терминал <span onclick="onClickTemoraryLock(); return false;">временно</span> недоступен.</h1>
    <br>
    <h1>Пожалуйста,</h1>
    <h1>воспользуйтесь другим терминалом.</h1>
</div>
