<form method="get" action="">
    <input type="hidden" value="" name="dayroom" id="dayroom" />
    <div>
        <button name="today" onclick="clickDayButton('25'); return false;">
            <div class="room_caption" id="dayroomName"></div>
            <div class="room_caption">Записаться на сегодня</div>
        </button>
        <button class="daycancel" name="cancel" id="btnDayCancel" onclick="clickDayCancel(); return false;">
            <div class="room_caption">Другой<br />кабинет</div>
        </button>
    </div>
    <br />
    <div style="font-size: 2em;">Записаться на другой день</div>
    <div><?php
        $week = array('Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс', );
        $date = strtotime('monday this week');
        $end  = strtotime('sunday next week');
        $today = strtotime('midnight');
        $sunday = strtotime('sunday this week');
        while ($date < $end):
            if ($sunday == $date):
                $date = strtotime('+1 day', $date);?>
    </div>
    <br />
    <div><?php endif;
            $md = date('Y-m-d', $date);
            if ($date < $today) {
                $onclick = 'disabled="disabled"';
            } else {
                $onclick = 'onclick="clickDayButton(\'' . $md . '\'); return false;"';
            }?>
        <button class="day" name="day" id="btnDay<?php echo $md?>" <?php echo $onclick?>>
            <div class="day_date"><?php echo date('d.m', $date)?></div>
            <div class="day_name"><?php echo ($date != $today) ? $week[(int)date('N', $date) - 1] : 'Сегодня'?></div>
            <div class="day_clients" id="day<?php echo $md?>">&nbsp</div>
        </button>
        <?php $date = strtotime('+1 day', $date); endwhile?>
    </div>
</form>
