<?php $room = $this->room;
    if ((isset($room['record']) && $room['record'] != '0') || '0' == $room['id']) {
        $click = 'clickCheckButton';
    } else {
        $click = 'clickNoRecordButton';
    }?>
    <button name="room" id="btnRoom-<?php echo $room['id']?>" value="<?php echo $room['id']?>" onclick="<?php echo $click?>(this.value); return false;">
        <?php if (!isset($room['max_today_records']) || 0 == $room['max_today_records']) :?>
            <?php if (!empty($room['number'])) :?>
        <div class="room_number">Кабинет №<?php echo $room['number']?></div>
            <?php endif?>
        <div class="room_caption"><?php echo $room['description']?></div>
        <?php else :?>
            <?php if (!empty($room['number'])) :?>
        <div class="room_number_small">Кабинет №<?php echo $room['number']?></div>
            <?php endif?>
        <div class="room_caption_small"><?php echo $room['description']?></div>
        <div class="room_max_today_records"><?php echo '<span id="roomTodayClientsWrapper-' . $room['id'] . '">' .
            'Уже записалось <span id="roomTodayClients-' . $room['id'] . '">0</span>.' .
            'Максимум <span id="roomMaxTodayClients-' . $room['id'] . '">' . $room['max_today_records'] . '</span>.</span>'?></div>
        <?php endif?>
      </button>
