<div>Выберите необходимый режим</div>
<?php
$list = array(/*'operator' => 'АРМ оператора', 'atm' => 'Экран терминала', 'panel' => 'Экран табло', */'commission' => 'АРМ секретаря',
    'admin' => 'АРМ администратора', );
foreach ($list as $href => $caption) {
?>
<div><a href="<?php echo $href?>"><?php echo $caption?></a></div>
<?php
}
?>