<?php $redtime = strtotime('-1 hour');?>
<div style="text-align: center;">
<div>Статистика</div>
<div><a href="/suo/statistic/">Перейти к просмотру количества заявок</a></div>
<div>Данные на <span id="updateTime"><?php echo date('H:i')?></span>
    <?php echo $this->button('btnUpdate', 'Обновить', array(), array('onclick' => 'window.location.reload();'))?>
</div>
</div>
<div style="text-align: center;">
<form method="post" action="/suo/statistic/queue/">
<div>
    <?php echo $this->button('btnSelectRed', 'Выделить красные', array(), array('onclick' => 'selectRed'))?>
    <?php echo $this->submitButton('btnDeclineSelected', 'Отменить отмеченные', array())?>
</div>
<br />
<table style="margin: 0 auto;">
    <tr>
        <th></th>
        <th>Кабинет</th>
        <th>Дата начала заяки</th>
        <th></th>
    </tr>
<?php
$tickets = $this->tickets;
foreach ($tickets as $ticket) {
?>
    <tr>
<?php $time = strtotime($ticket['start_date']);
        $redcol = '';
        $redcheck = '';
        if ($time < $redtime) {
            $redcol = 'red';
            $redcheck = 'redcheck';
        }?>
        <td><input type="checkbox" name="tickets[]" value="<?php echo $ticket['id']?>" class="<?php echo $redcheck?>" /></td>
        <td><?php echo $ticket['room_description']?></td>
        <td class="<?php echo $redcol?>"><?php echo date('H:i:s d.m.y', $time)?></td>
        <td><?php echo $this->submitButton('decline' . $ticket['id'], 'Отменить', array(), array())?></td>
    </tr>
<?php
}
?>
</table>
</form>
</div>