<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>«Ласточка» - система управления очередью</title>
  <?php $dojo = $this->dojo()
            ->addStylesheetModule('dijit.themes.claro')
            ->requireModule('dojox.av.FLAudio')
            ->setDjConfigOption('parseOnLoad', true);
    echo $dojo?>
  <script src="/suo/js/suo/panel.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/suo/style/panel.css" type="text/css" />
</head>
<body class="claro">
<?php echo $this->layout()->content?>
</body>
</html>