<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Вход не выполнен</title>
  <link rel="stylesheet" href="/suo/style/suo_operator.css" type="text/css" />
  <?php echo $this->dojo();?>
  <script type="text/javascript">
    function setFocusOnLoad() {
        dojo.byId('focusFirst').focus();
    }
    dojo.addOnLoad(setFocusOnLoad);
  </script>
</head>
<body class="tundra">
  <div class="all">
    <div class="content">
        <h1>Возобновление работы</h1>
        <form action="/suo/operator/resumption" method="get">
            <div><p>При закрытии пульта оператора</p>
                <p>была выбрана опция</p>
                <p>"Завершить приём на сегодня".</p>
                <p>Чтобы продолжить работу,</p>
                <p>нажмите, пожалуйста, кнопку</p>
            </div>
            <button type="submit" name="resumption" value="1" class="mainbutton" id="focusFirst">Возобновить</button>
        </form>
    </div>
    <div class="footer">
        <div>
            <button class="closebutton" id="closebutton" onClick="window.close();">Закрыть</button>
        </div>
    </div>
  </div>
</body>
</html>