<div style="text-align: center;">
<div>Статистика</div>
<div><a href="/suo/statistic/queue">Перейти к управлению заявками</a></div>
<div>
    <a class="period active" href="#" onclick="setPeriod(this, 'today'); return false;">За сегодня</a>,
    <a class="period" href="#" onclick="setPeriod(this, 'week'); return false;">с начала недели</a>,
    <a class="period" href="#" onclick="setPeriod(this, 'month'); return false;">с начала месяца</a>,
    <a class="period" href="#" onclick="setPeriod(this, 'all'); return false;">все</a>
</div>
<div>Данные на <span id="updateTime"><?php echo date('H:i')?></span>
    <?php echo $this->button('btnUpdate', 'Обновить', array(), array('onclick' => 'updateQueue'))?>
</div>
</div>
<?php 
echo $this->storeRoom;
echo $this->storeOperator;
echo $this->storeTickets;

$this->tabContainer()->captureStart('tabStatistic', array(), array('style' => 'width: 29.5em;', 'doLayout' => 'false', ));

    $this->contentPane()->captureStart('paneOperator', array(), array('title' => 'По операторам'));
        echo $this->gridOperator;
    echo $this->contentPane()->captureEnd('paneOperator');

    $this->contentPane()->captureStart('paneRoom', array(), array('title' => 'По кабинетам'));
        echo $this->gridRoom;
    echo $this->contentPane()->captureEnd('paneRoom');

    $this->contentPane()->captureStart('paneWeek', array(), array('title' => 'За неделю'));
        echo $this->gridTickets;
    echo $this->contentPane()->captureEnd('paneWeek');

echo $this->tabContainer()->captureEnd('tabStatistic');
?>