<div><p>Commission timetable</p></div>
<a href="<?php echo $this->baseUrl('commission/timetable')?>">timetable</a>
<a href="<?php echo $this->baseUrl('commission/commission')?>">commission</a>
<br />
<br />