<h2>Установка рабочего времени</h2>
<br />
<div>
<p>Неделя</p>
<?php
$current_week = $this->week_links_current;
$current_room = $this->room_current;
foreach ($this->week_links as $href => $caption) {
    if ($href === $current_week) {
        $class = 'class="current" ';
    } else {
        $class = '';
    }?>
<a <?php echo $class?>href="<?php echo $this->url(array('week' => $href, 'room' => $current_room, ), 'timetable')?>"><?php echo $caption?></a>
<?php
}
?>
</div>
<div>
<p>Кабинет</p>
<?php
foreach ($this->rooms as $room):
    if ($current_room === $room->id) {
        $class = 'class="current" ';
    } else {
        $class = '';
    }
?>
<a <?php echo $class?>href="<?php echo $this->url(array('week' => $current_week, 'room' => $room->id, ), 'timetable')?>"><?php echo $room?></a>
<?php
endforeach?>
</div>
<?php echo $this->timetable_form?>
