<form action="<?php echo $this->baseUrl('operator/end')?>" method="get">
    <div>Приём клиента №<?php echo $this->current_check_code?></div>
    <button type="submit" name="ticket" class="mainbutton" id="focusFirst" value="<?php echo $this->current_ticket_id?>">Завершить</button>
    <div id="redirect">
        <fieldset>
            <legend class="redirect">Направить в кабинет:</legend>
            <select name="redirect" style="margin-bottom: 1em;">
                <option value="0"></option>
            <?php foreach ($this->rooms as $room):?>
                <option value="<?php echo $room['id']?>"><?php
                    echo 'Кабинет ' . $room['number'] . ' ' . $room['description']?></option>
            <?php endforeach?>
            </select>
        </fieldset>
    </div>
</form>

