<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Вход не выполнен</title>
  <link rel="stylesheet" href="/suo/style/operator.css" type="text/css" />
  <?php /*$this->dojo()->requireModule('dojox.json.query');*/
  echo $this->dojo();?>
  <script type="text/javascript">
    var multi_room_user = <?php echo $this->multi_room_user?>;
    var windowid = '';
    function setFocusOnLoad() {
        dojo.byId('focusFirst').focus();
    }
    function onUserChange(id) {
        for (i = 0; i < multi_room_user.length; i++) {
            if (multi_room_user[i] == id) {
                if ('' != windowid) {
                    dojo.attr(windowid, 'class', 'window');
                }
                windowid = 'window' + id.replace(new RegExp('-','g'), '');
                dojo.attr(windowid, 'class', 'windowopen');
                break;
            }
        }
    }
    dojo.addOnLoad(setFocusOnLoad);
  </script>
</head>
<body class="tundra">
  <div class="all">
    <div class="content">
        <h1>Вход в систему</h1>
        <h2><?php if (true == $this->incorrect_login) :?>Некорректный код<?php else:?>&nbsp<?php endif?></h2>
        <?php echo $this->form?>

    </div>
    <div class="footer">
        <div>
            <button class="closebutton" id="closebutton" onClick="window.close();">Закрыть</button>
        </div>
    </div>
  </div>
</body>
</html>