<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>«Ласточка» - система управления очередью</title>
  <link rel="stylesheet" href="<?php echo $this->baseUrl('/style/suo.css')?>" type="text/css" />
</head>
<body>
<div id="view">
<h1><?php echo $this->suo_title?></h1>
<br />
<?php echo $this->layout()->content?>
  <br />
  <br />
  <div>
  <br />
<?php
$auth = Zend_Auth::getInstance();
if ($auth->hasIdentity()) :?>
  <div>
    <a href="<?php echo $this->baseUrl('');?>">Выбор АРМ</a>
    <a href="<?php echo $this->baseUrl($this->module_name)?>">Меню АРМ</a>
    <a href="<?php echo $this->baseUrl('login/logout')?>">Выход</a>
  </div>
Оператор: <?php echo $auth->getIdentity();?>
<?php else :?>
    Вход не выполнен
<?php endif?>
  </div>
</div>
</body>
</html>