<div>error</div>
<?php if ($this->message):?>
<p><?php echo is_object($this->message) ? $this->message->getMessage() : $this->message; ?></p>
<?php if ('production' != APPLICATION_ENV):?>
<p>Trace</p>
<table>
  <?php foreach ($this->message->getTrace() as $trace) : ?>
  <tr>
    <td><?php echo $trace['function']?></td>
    <td><?php echo $trace['file']?></td>
    <td><?php echo $trace['line']?></td>
  </tr>
  <?php endforeach;?>
</table>
<?php endif; ?>
<?php endif; ?>