<form action="<?php echo $this->baseUrl('operator/start')?>" method="get">
    <div>Ожидаем клиента №<?php echo $this->current_check_code?></div>
    <button type="submit" name="ticket" class="mainbutton" id="focusFirst" value="<?php echo $this->current_ticket_id?>">Начать</button>
    <input type="hidden" name="code" value="<?php echo $this->current_check_code?>" />
</form>
<form action="<?php echo $this->baseUrl('operator/call/next')?>" method="get">
    <button type="submit" name="ticket" value="<?php echo $this->current_ticket_id?>" class="secondbutton">Вызвать следующего</button>
</form>
