<!DOCTYPE html PUBLIC  "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>«Ласточка» - система управления очередью</title>
  <link rel="stylesheet" href="/suo/style/atm.css" type="text/css" />
  <?php $this->dojo()->requireModule('dojox.json.query');
    echo $this->dojo();?>
  <script src="/suo/js/suo/atm.js" type="text/javascript"></script>
  <script type="text/javascript">var rooms = []</script>
</head>
<body class="tundra">
<div class="onscreen">
<?php echo $this->layout()->content?>
    <div class="onscreen" id="screenContainer"></div>
</div>
    <div class="onprint" id="printContainer">
        <div id="check_title"></div>
        <div id="check_number"></div>
        <div id="check_operator"></div>
        <div id="check_room_number"></div>
        <div id="check_room_description"></div>
        <div id="check_start_date"></div>
        <div id="check_position"></div>
    </div>
</body>
</html>