<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Suo</title>
  <?php echo $this->dojo();?>
  <link rel="stylesheet" href="/suo/style/suo_statistic.css" type="text/css" />
  <script src="/suo/js/suo/statistic.js" type="text/javascript"></script>
</head>
<body class="tundra">
<div style="width: 30em; margin: 0 auto;">
    <?php echo $this->layout()->content ?>
    <?php //echo $this->inlineScript() ?>
</div>
</body>
</html>