<fieldset>
<legend class="by_client">
    <a class="by_client" href="" onclick="hideByClientForm(); return false;">[-]</a>
    Клиенты:
</legend>
<form action="<?php echo $this->baseUrl('operator/call')?>" method="get">
<?php foreach ($this->tickets as $ticket) :?>
  <button type="submit" class="ticketbutton" name="ticket" value="<?php echo $ticket['id'] . '-' . $ticket['code']?>"><?php echo $ticket['code']?></button>
<?php endforeach?>
  <input type="hidden" name="current" value="<?php echo $this->current_ticket_id?>" />
</form>
</fieldset>
