<table class="panel_status">
  <tr>
    <td id="panel_status"><?php
        if (true == $this->norooms):?>
      <div><h1>Кабинеты не заданы</h1></div>
        <?php endif?>
    </td>
  </tr>
</table>