<?php
$max_checks = 6; // количество талонов в колонке "Очередь" без закрывания многоточием
$rooms = $this->rooms;
 // выводим таблицу с комнатами
$tablesize = 3;
$roomscount = count($rooms);
if ($roomscount > 6) {
    $tablesize = 7;
} else if ($roomscount > 3) {
    $tablesize = $roomscount;
}
?>
<table class="size<?php echo $tablesize?>">
<tr>
  <th class="room_num_description">№</th>
  <th>Кабинет</th>
  <th class="current_client">Обслуживается</th>
  <th class="queue">Очередь</th>
</tr>
<?php foreach ($rooms as $room):?>
<tr class="room">
    <td><?php echo $room['number'] // номер и название кабинета?></td>
    <td><?php if (1 == $room['windowcount']):?>
    <?php echo $room['description'] // номер и название кабинета?>
    <?php else:?>
        <table>
        <?php for ($i = 1; $i <= $room['windowcount']; $i++):?>
            <tr>
                <td><?php echo $room['description']?><br />Окно <?php echo $i?></td>
            </tr>
        <?php endfor?>
        </table>
    <?php endif?></td>
    <td class="current_client">
      <table>
        <tr>
          <td style="width:50%;"><span class="wait_client"><?php echo $room['current_client']?></span></td>
      <?php if (true == $room['wait']):?>
        <td class="wait">Пожалуйста, проходите</td>
      <?php endif?>
        </tr>
      </table>
    </td>
    <td class="queue">
    <?php
        if ('0' == $room['accept']) {
            echo 'На сегодня приём окончен.';
        } else {
            $codes = array();
            $j = 0;
            foreach ($room['check'] as $check) {
                if ($j == $max_checks) {
                    $codes[] = '...';
                    break;
                }
                $codes[] = $check['code']; // номер чека
                ++$j;
            } // цикл по чекам
            echo implode(', ', $codes);
        }?>
    </td>
</tr>
<?php endforeach // цикл по комнатам?>
</table>
<div id="ringTickets" style="display: none;"><?php
    $s_ids = implode(',', $this->a_ring_tickets);
    if (empty($s_ids)) {
        $s_ids = '0';
    }
    echo $s_ids;
?></div>